@using Entities;
@using WorkoProject.Models;

@model List<Station>

@{
    ViewBag.Title = "הגשת אילוצי סידור עבודה";
    Layout = "~/Views/Shared/_ControlLayout.cshtml";

    int wsid = (int)ViewData["WSID"];
    var shifts = new WorkScheduleTemplate().Shifts;
}

<h2>הגשת אילוצי סידור עבודה</h2>
<div class="row" id="schedule-constrains">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>
                    בעת לחיצה על עמדה, יופיע האילוצים של העמדה לשבוע הקרוב. <br />
                    קבע אילוצים עבור כל עמדה בכל משמרת. <br />
                    משמרות בהן לא נקבעו אילוצים, האילוצים שיקבעו הם אילוצי ברירת המחדש שנקבעו עבור כל עמדה.<br />
                    בסיום קביעת האילוצים לחץ על הכפתור מצד שמאל על מנת לאפשר לעובדים להגיש אילוצים לשבוע הבא.
                </p>
                @using (Html.BeginForm("SubmitScheduleConstrains", "ShiftsManager", FormMethod.Post))
                {
                    <button type="submit" data-tooltip="tooltip" data-placement="top" title="קבע אילוצים"><i class="fa fa-download"></i></button>
                }
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <input type="hidden" name="wsid" id="WSID" value="@wsid" />

                @foreach (var s in Model)
                {
                  @Html.Partial("Partials/_WeeklyStationsConstrains", s)
                }
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
