@model Entities.Worker

<ul class="nav navbar-top-links navbar-left">
    <li class="dropdown">
        <div class="updateDot"></div>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-messages">
            <li>
                <a href="#">
                    <div>
                        <strong>ג'ון סמית'</strong>
                        <span class="pull-left text-muted">
                            <em>אתמול</em>
                        </span>
                    </div>
                    <div>משהו משהו משהו טקסט טקסט טקסט...</div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <strong>ג'ון סמית'</strong>
                        <span class="pull-left text-muted">
                            <em>אתמול</em>
                        </span>
                    </div>
                    <div>משהו משהו משהו טקסט טקסט טקסט...</div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <strong>ג'ון סמית'</strong>
                        <span class="pull-left text-muted">
                            <em>אתמול</em>
                        </span>
                    </div>
                    <div>משהו משהו משהו טקסט טקסט טקסט...</div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>קרא את כל ההודעות</strong>
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-messages -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <div class="updateDot-alerts"></div>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-alerts">   
        </ul>
        <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class=" dropdown-toggle" data-toggle="dropdown" href="#" data-tooltip="tooltip" data-placement="bottom" title="@(Model.FirstName + " " + Model.LastName)">
            @*<i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>*@

            <div id="userPic">
                <img alt="" height="30" width="30" src="~/@(string.IsNullOrEmpty(Model.Picture) ? "Content/img/default_user.png" : Model.Picture)" />
                <i class="fa fa-caret-down"></i>
            </div>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> פרופיל משתמש</a>
            </li>
            @*<li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> הגדרות</a>
                </li>*@
            <li class="divider"></li>
            <li>
                <a id="logoff" class="clickable" data-href="@Url.Action("LogOff", "Account")"><i class="fa fa-sign-out fa-fw"></i> התנתק</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->
