.clickable {
    cursor: pointer;
}

/* removing the yellow color of input after autocomplete on Google Crome*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.modal-dialog {
    z-index: 10000;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-right-width: 8px;
  border-radius: 3px;
  border-right-color: rgba(128, 0, 128, 0.51);
}

/* ### Login  ############################################################## */

.login-panel {
    margin: 0 auto;
    width: 75%;
    margin-top: 25%;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.5);
}

.login-row {
    margin: 0 auto;
    width: 1280px;
}


.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: inherit;
    margin-left: 10px;
}

.input-validation-error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.input-validation-error:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}


/* ### Login  ############################################################## */




/* Navbar */
.navbar-default {
  background-color: rgb(255, 255, 255);
  opacity: 0.85;
  margin-bottom: 0;
  border-bottom: 1px solid #343434;
  height: 70px;
}
.logo {
	width: 200px;
  	height: 70px;
  	margin-top: -8px;
}
.navbar-brand, .navbar-right li a {
  width: 100px;
  height: 20px;
  line-height: 70px;
  padding: 0px 100px;
  font-size: 20px;
  color: #242424;
  font-family: A;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color: #242424;
  padding: 0;
}

.menu-item a:hover {
	text-decoration: underline;
}

.rbullet, .lbullet {
  font-size: 35px;
  text-decoration: none !important;
  float: right;
  
}

.rbullet {
	color:  #3a5757;
	margin: -8px 31px 0 0px;
}

.lbullet {
	color:  #3b4d41;
	margin: -8px 43px 0 0px;
}

/* Header */
header {
	text-align: center;
}

@media (max-width: 715px) {
		.css-shapes-preview {
			margin-top: 81px;
		}
	}

	@media (max-width: 768px) {
		.navbar-nav {
			height: 60px;
		}

		.container>.navbar-collapse{
			    border: 0;
  				margin-top: 12px;
		}

		.menu-item {
			width: 100%;
			margin: 0 auto;
			height: 30px
		}

		.menu-item * {
			margin: 0;
		}

		.menu-item span {
			display: none;
		}

		.navbar-right li a {
			width: 100%;
			text-align: center;
			line-height: 20px;
		}

		#loginBtn {
		  background-color: rgba(59, 77, 65, 0.5);;
		}

		#loginBtn a, #registerBtn a {
			color: #fff;
		}

		#registerBtn {
			background-color: rgba(58, 87, 87, 0.5);
		}

	}

.row h1 {
	margin-top: 180px;
	color: #242424;
	font-weight: bold;
	font-size: 35px;
}

.headerImg {
	width: 100%;
}

/* Main Content */
.contentText {
	font-size: 25px;
	text-align: right;
	float: right;
	margin-top: 150px;
	border: 1px solid rgba(255,255,255,0);
	border-right-width: 8px;
	border-radius: 3px;
	border-right-color: rgba(234, 178, 0, 0.53);
}

.mainDecoration {
	  margin-left: 50%;
}


/* Footer */
footer {
	height: 100px;
  	background-color: #2e2e2e;
  	margin-top: 600px;
  	text-align: center;
}


#footerSiteName {
	color: #fff;
	z-index: 0;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	margin-left: 300px;
	margin-top: 50px;
}

#footerCopy {
	color: #acacac;
	font-size: 20px;
	text-align: right;
	margin-right: 300px;
	margin-top: 50px;
}

@media(max-width: 745px) {
	#footerCopy {
		margin-right: 120px;
  		margin-top: 50px;
	}
}



