@model Entities.Request

@{
    ViewBag.Title = "שלח בקשת עובד";
    Layout = "~/Views/Shared/_ControlLayout.cshtml";
}

<h2>שלח בקשה</h2>
<div class="row" id="worker-request">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>
                    הזן את בקשתך. * הכותרת ותוכן ההודעה הינם שדות חובה
                </span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("SendRequest", "Requests", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.WorkerId)
                   
                    <div class="form-group">
                        <label>כותרת</label>
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>תוכן הבקשה</label>
                        @Html.TextAreaFor(x => x.Content, new { rows = "10", @class = "form-control" })
                    </div>

                    if (TempData["Success"] != null && (bool)TempData["Success"])
                    {
                        <label class="success pull-right">האילוצים עודכנו במערכת בהצלחה</label>
                    }

                    <button type="submit" class="btn btn-primary pull-left">שלח בקשה</button>
                }
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>